

#mapa 
{
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    width: 640px;
    border: 2px  solid green;
}


.Grama 
{
  background-image: url(../img/world/grama.png);
}


.Rock 
{
  background-image: url(../img/world/rock.png);
}


.Heart-10 
{
  background-image: url(../img/world/heart-10.png);
}


.Heart-5
{
  background-image: url(../img/world/heart-5.png);
}

.Key
{
  background-image: url(../img/world/key.png);
}


.Bloco
{
    width: 64px;
    height: 64px;
    display: inline-block;
    background-color: #fff;
    font-size: 15px;
    float: left;
}
