

#mapa 
{
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    padding-bottom: 100px;
    width: 640px;
}


.Grama 
{
  background-image: url(../img/world/grama.png);
}

.Bloco
{
    width: 64px;
    height: 64px;
    display: inline-block;
    background-color: #fff;
    font-size: 15px;
    float: left;
}
