body {


}

#map {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 100px;
    width: 640px;
}




.mN 
{
    width: 64px;
    height: 64px;
    display: inline-block;
    background-color: #fff;
    font-size: 15px;
    float: left;
}


.Grama 
{
  background-image: url(../img/world/grama.png);
}

.Personagem 
{
  background-image: url(../img/char/personagem.png);
}
